@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<p>
    <div class="row">
        <div class="col-1">
            <label>
                <b>Chart-Type</b>
            </label>
        </div>   
        <div class="col-2">
            <select id="ChartType" class="form-control" style="width:150px;">
                <option >select chart type</option>
                <option value="bar">bar</option>
                <option value="line">line</option>
                <option value="pie">pie</option>
                <option value="doughnut">doughnut</option>
            </select>
        </div>
    </div>
</p>
@*var chartype=$("ChartType").val();*@
 
<input id="ID" value="show graph" type="button" />
<br />
<div id="ChartView">
    <canvas id="myChart" style="max-width:200px;max-height:200px;"></canvas>
</div>

<script type="text/javascript">
    $(function(){
     $("#ID").click(function(){
         var chartype=$("#ChartType").val();
         var ChartView=document.getElementById("ChartView");
         ChartView.innerHTML='&nbsp;';
         $("#ChartView").append('<canvas id="myChart" style="max-width:200px;max-height:200px;"></canvas>');
         $.ajax({
            type:"Post",
            url:"/Sales/getSalesData",
            data:"",
            contextType:"application/json; charset=utf-8",
            success:OnSuccessResult,
            error:OnErrorResult
         });
         function OnSuccessResult(event){
            debugger;
            var labels=event[0];
            var datalist=event[1];
            var bgColors=["red","green","blue","orange","brown"];
            new Chart("myChart",{
                 type: chartype,
                 data:{
                     labels:labels,
                     datasets:[{
                         backgroundColor:bgColors,
                         data:datalist
                     }]
                 }
            });
         }
         function OnErrorResult(data){
             debugger;
         }
     });
    });
   // const ctx = document.getElementById('myChart').getContext('2d');
</script>
